<div id="contact" class="container">
  <h3 class="text-center">Components</h3>

  <div class="row">

    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-12 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="col-sm-12 form-group">
          <input class="form-control" id="email" name="phone" placeholder="Phone" type="text" required>
        </div>
        <div class="col-sm-12 form-group">
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        </div>
        <div class="col-sm-12 form-group">
            <button class="btn pull-right" type="submit">Send</button>
          </div>
      </div>
    </div>

    <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Comments</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Anna</td>
                <td>Pitt</td>
                <td>35</td>
                <td>New York</td>
                <td>
                  <span class="glyphicon glyphicon-remove"></span>
                </td>
              </tr>
            </tbody>
          </table>
    </div>



  </div>
</div>